/* Starting the CSS Styling */
html {
  font-size: 18px;
}

body {
  font-size: 1rem;
  font-family: Helvetica;
}


/*HEADER SECTION STYLING */
.header{
  display: flex;
  align-items:center;
  justify-content:flex-start;
  height: auto;
  background-color: black;
}

/* We make the header a flex container, vertically center the
flex items, and make them flex-start for horizontal alignment.
Give the header a background color of black and make the height
auto */

.header img {
  margin-left: 0.5rem;
  height: 1.5rem;
}
/* Here we give the image a margin left and a height*/
.header h4 {
  padding-left: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  color: white;
}
/*give h4 padding properites and color of white. */

/*MAIN IMAGE STYLING */

.main-photo{
  display:flex;
  height:25rem;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 justify-content: flex-start;
}

/*Make the image container justify content at flex-Start
Then give the image position center, cover, and no repeat.
give the image a height of 25rem */

.main-photo .describe {
  width:20rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom:7rem;
  background-color: black;
  color:white;
  font-weight:bold;
  margin:9rem;
}
/* Here we give the content in the image padding left of 3rem,
width of 20rem, padding top of 2rem, bottom padding of 7rem,
background color of black and color of white.
We also give the content a margin of 9rem to margin from all sides.*/

.main-photo .describe h5{
  font-size:1rem;
  margin-bottom:0.25rem;
}
.main-photo .describe h1{
  font-size:2rem;
}
/* Give specific qualities to the h5 and h1. h5 has a margin bottom of
0.25rem then it follows with h1 having font-size of 2 rem.*/


/* MERCHANDISE SECTION STYLING*/

.merchandise{
  background-color: firebrick;
  color:white;
  display: flex;
  justify-content: space-between;
}
/*We make a felx container with space between*/

.merchandise nav ul{
  list-style-type: none;
  margin-left:9rem;
}
/* We make the list style type as none, and give the ul
a margin-left of 9rem*/

.merchandise nav ul li{
  display:inline-block;
  padding: 0.75rem;
  margin-right: 5rem;
}
/*Next, each li will be displayed as an inline-block
we adding padding and margin right of 5rem of each li. */


/* IMAGE GALLERY SECTION*/

.gallery{
  display:flex;
  justify-content:space-between;
  width: 960px;
  margin: 0 auto;
}
/* Here we created the flex container for gallery,
with the given width of 960px, to make it align center
we use the margin: 0 auto, and to justify the
content between flex item we use space-between. */

.gallery .picture{
  border:4px solid black;
  width:30%;
  margin: 3rem 0;
}
/*For each picture element we give a border.
We then give it the gien width of 30%.
And give each picture a margin of only top and Bottom
to be 3 rem. left and right are 0 */

.gallery .picture img{
  height:9rem;
  margin:2rem;
}
/*Image has the following properties given.
we use margin because img and h3 are considered outside
 of each other */
.gallery .picture h3{
  background-color: black;
  color:white;
  padding:0.5rem;
  text-align:center;
}
/* lastly we make the h3 have a background color of black and
color of white, give it padding space and align it centered*/


/*LOCATION And HOURS SECTION */
.Information{
  display:flex;
  width:960px;
  justify-content: space-between;
  margin: 0 auto;
}

/* make information a flex container,
given width of 960 and perfectly center.
remember to justify content with space between.*/
.Information .box{
  width:35%;
}
/* This will set to a certain wideth of 35%*/

.Information .box h3{
  background-color: black;
  color:white;
  padding:1rem 2rem;
}
/*These are all given properties */

.Information .box p{
  margin-bottom:4rem;
}
/*Text will be by default to the left.
and will have a margin to the bottom of 4 rem. */

footer{
  height:5rem;
  background-color: black;
  color:white;
  display:flex;
  align-items:center;
}
/*make the footer element a flex container.
with vertical alignment */
footer p{
  margin-left:9rem;
}
/* Give the footer p a left margin of 9rem.*/

@media only screen and (max-width:1024px) and
(orientation:portrait){
  .gallery .picture{
    width:47%;
  }
  .merchandise nav ul li{
    width: 100%;
  }
}
@media only screen and (max-width:470px){
  .main-photo{
    height:15rem;
  }
  .main-photo .describe {
    width:100%;
    padding-left: 2rem;
    padding-top: 1rem;
    margin-top:10rem;
  }
  .main-photo .describe h5{
    font-size:0.77rem;
  }
  .main-photo .describe h1{
    font-size:1rem;
  }
  .gallery .picture{
    width:90%;
  }
  .Information{
    flex-wrap: wrap;
  }
  .Information .box{
    width:90%;
    margin-bottom:0.5rem;
  }
  footer{text-align:center;}
}
